<div class="row">
  <div class="col-12 d-flex justify-content-between p-2">
    <h3 class="m-0">Manage Payments</h3>
  </div>
</div>
<div class="row">
  <div class="col-12 p-2">
    <app-data-table
      [columns]="columns"
      [data]="payments()"
      [permissionModule]="permissionModule"
      [imageBaseUrl]="imageBaseUrl"
    >
      <ng-template #tableActions let-row>
        <button
          *hasPermission="[permissionModule, 'view']"
          class="btn btn-sm btn-outline-info me-2"
          (click)="onView(row)"
        >
          <i class="bi bi-eye"></i>
        </button>

      </ng-template>
    </app-data-table>
  </div>
</div>
