<div class="d-flex flex-column flex-shrink-0 text-white h-100">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="javascript:void(0)" class="active nav-link text-white d-flex justify-content-between">
        <h4 class="mb-0 mx-2 my-1 pt-2">Admin Portal</h4>
      </a>
      <hr/>
    </li>

    <li class="nav-item">
      <a
        href="javascript:void(0)"
        class="nav-link text-white d-flex justify-content-between"
        [class.active]="!isDashboardCollapsed"
        (click)="isDashboardCollapsed = !isDashboardCollapsed"
      >
        <span><i class="bi bi-speedometer2 me-2"></i> User Management</span>
        <i class="bi" [ngClass]="isDashboardCollapsed ? 'bi-chevron-down' : 'bi-chevron-up'"></i>
      </a>

      <div [ngbCollapse]="isDashboardCollapsed">
        <ul class="nav flex-column ms-3 mt-1 small">
          <li class="nav-item">
            <a
              class="nav-link text-white d-flex align-items-center"
              routerLink="/admin"
              routerLinkActive="active-sub"
            >
              <i class="bi bi-dot"></i> Admin Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white d-flex align-items-center"
              routerLink="/user"
              routerLinkActive="active-sub"
            >
              <i class="bi bi-dot"></i> User Dashboard
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="mt-2">
      <a
        href="javascript:void(0)"
        class="nav-link text-white d-flex justify-content-between"
        (click)="isOrdersCollapsed = !isOrdersCollapsed"
      >
        <span><i class="bi bi-table me-2"></i> Orders</span>
        <i class="bi" [ngClass]="isOrdersCollapsed ? 'bi-chevron-down' : 'bi-chevron-up'"></i>
      </a>

      <div [ngbCollapse]="isOrdersCollapsed">
        <ul class="nav flex-column ms-3 mt-1 small">
          <li class="nav-item">
            <a
              class="nav-link text-white d-flex align-items-center"
              routerLink="/orders/pending"
              routerLinkActive="active-sub"
            >
              <i class="bi bi-dot"></i> Pending
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white d-flex align-items-center"
              routerLink="/orders/completed"
              routerLinkActive="active-sub"
            >
              <i class="bi bi-dot"></i> Completed
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
