@if (menu$ | async; as menu) {
<div class="d-flex flex-column flex-shrink-0 text-white h-100 bg-primary py-3">
  <div class="px-3 mb-2 d-flex justify-content-center">
    <h4 class="fw-bold mb-0 mb-3 pt-2 text-uppercase">Admin Portal</h4>
    <hr class="text-white hr" />
  </div>

  <ul class="nav nav-pills flex-column mb-auto">
    @for (module of menu; track $index; let i = $index) {
    <li class="nav-item mb-1">
      <a
        href="javascript:void(0)"
        class="nav-link text-white d-flex justify-content-between align-items-center mx-2 py-2"
        [class.active-parent]="openModuleId === (module._id || i.toString())"
        (click)="toggleModule(module._id || i.toString())"
      >
        <span>
          <i class="me-2" [class]="module.icon || 'bi-grid-fill'"></i>
          {{ module.name }}
        </span>
        <i
          class="bi"
          [class.bi-chevron-down]="openModuleId !== (module._id || i.toString())"
          [class.bi-chevron-up]="openModuleId === (module._id || i.toString())"
        >
        </i>
      </a>

      <div [ngbCollapse]="openModuleId !== (module._id || i.toString())">
        <ul class="nav flex-column ms-4 mt-1 small border-start border-white-50">
          @for (sub of module.subModules; track $index) { @if (sub.pages?.length) {
          <li class="nav-item fw-bold px-3 mt-2 text-uppercase" style="font-size: 0.7rem">
            <i class="bi bi-dash me-1"></i> {{ sub.name }}
          </li>
          @for (page of sub.pages; track $index) {
          <li class="nav-item">
            <a
              class="nav-link text-white-50 py-1 ps-3 text-capitalize"
              [routerLink]="page.url"
              routerLinkActive="active-sub"
            >
              <i class="bi bi-dot me-1"></i> {{ page.name }}
            </a>
          </li>
          } } }
        </ul>
      </div>
    </li>
    }
  </ul>
</div>
}
