.brand_logo{
  height: 80px;
}
.bg-image {
  /* Replace the URL below with your background image */
  background-image: url('../../../../../public/auth_banner_one.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-card {
  background: #ffffff;
  backdrop-filter: blur(10px); /* Modern frosted glass effect */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  opacity: 0.9;
}

.btn-primary {
  border: none;
  padding: 10px;
  font-weight: 600;
  color: #ffffff;
}


.form-control:focus {
  border-color: #4f46e5;
  /* box-shadow: 0 0 0 0.25rem rgba(79, 70, 229, 0.25); */
}
input {
    background-color: #ffffff;
}