/* @import "~@ng-select/ng-select/themes/default.theme.css"; */

.ng-select .ng-select-container {
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  padding: 0.1rem;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #212529; /* Dark Bootstrap theme */
  color: #fff;
  border-radius: 4px;
}