<app-modal
  title="Create Size"
  confirmText="Create Size"
  mode="create"
  [disableConfirm]="sizeForm.invalid"
  (confirm)="onSubmit()"
>
  <form [formGroup]="sizeForm" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-md-6 mb-3">
      <label class="form-label text-primary">Size Name <span class="text-danger">*</span></label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        [ngClass]="{
          'is-invalid': (f['name'].touched || submitted) && f['name'].invalid,
        }"
      />
      @if ((f['name']?.touched || submitted) && f['name']?.errors) {
        <div class="text-danger small">
          @if (f['name']?.errors?.['required']) {
            <span>Name is required.</span>
          }
          @if (f['name']?.errors?.['minlength']) {
            <span>Minimum 1 characters needed.</span>
          }
        </div>
      }
    </div>
     <div class="col-md-6 mb-3">
      <label class="form-label text-primary">Code<span class="text-danger">*</span></label>
      <input
        type="text"
        formControlName="code"
        class="form-control"
        [ngClass]="{
          'is-invalid': (f['code'].touched || submitted) && f['code'].invalid,
        }"
      />
      @if ((f['code']?.touched || submitted) && f['code']?.errors) {
        <div class="text-danger small">
          @if (f['code']?.errors?.['required']) {
            <span>Code is required.</span>
          }
          @if (f['code']?.errors?.['minlength']) {
            <span>Minimum 2 characters needed.</span>
          }
          @if (f['code']?.errors?.['maxlength']) {
            <span>Maximum 4 characters only.</span>
          }
          @if (f['code']?.errors?.['pattern']) {
           <span>Only uppercase letters and numbers are allowed.</span>
          }
        </div>
      }
    </div>
  </form>
</app-modal>
