<div class="bg-image pt-5 pb-2">
  <div class="row pt-4">
    <div class="col-6 img-conatiner">
      <img src="./forgot_password.png" alt="" class="forgot-password-img" />
    </div>
    <div class="col-6">
      <div class="login-card animate__animated animate__fadeIn">
        <div class="text-center">
          <!-- <i class="bi bi-shield-lock-fill text-primary" style="font-size: 4rem"></i>-->
          <img src="./brand_logo.png" alt="" class="brand_logo" />
          <h2 class="fw-bold mt-2 text-primary">Forgot Password</h2>
        </div>

        <form autocomplete="off" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 mb-3">
              <div class="mb-2">
                <label for="emailAddress" class="form-label"
                  >Email ID <span class="text-danger">*</span></label
                >
                <div class="input-group">
                  <input
                    type="email"
                    class="form-control"
                    id="emailAddress"
                    formControlName="email"
                    required
                    [ngClass]="{ 'is-invalid': (f.email.touched || submitted) && f.email.invalid }"
                  />
                  @if ((f.email.touched || submitted) && f.email.errors) {
                  <div class="invalid-feedback d-block">
                    @if (f.email.errors['required']) { Email is required } @else if
                    (f.email.errors['email']) { Invalid email format }
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100 mb-3">Next</button>
        </form>
      </div>
    </div>
  </div>
</div>
